body {
	font-family: Menlo, 'Andale Mono', monospace;
	padding-top: 40px;
	text-align: center;
}

.row {
	padding: 10px;
}

#username-container {
	height: 50px;
}

#new {
	width: 200px;
}

@media(min-width:768px) {
	h2 {
		font-size: 60px;
	}
	#username-container {
		height: 110px;
	}
}